<!-- templates/detalle_articulo.html -->
<!DOCTYPE html>
<html>
<head>
    <title>{{ articulo.titulo }}</title>
</head>
<body>
    <h1>{{ articulo.titulo }}</h1>
    <p>{{ articulo.contenido }}</p>
    <h2>Comentarios</h2>
    <ul>
        {% for comentario in comentarios %}
        <li>{{ comentario.autor }} dijo: {{ comentario.texto }} el {{ comentario.fecha_comentario }}</li>
        {% endfor %}
    </ul>
    <a href="{% url 'crear_comentario' articulo.id %}">Añadir un comentario</a>
</body>
</html>
